In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

#### 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [2]:
# Assigning variable to folder path

path = r'C:\Users\Amy Yip\Desktop\Career Foundry Data Analytics\Achievement 4 Python\05-02-2022 Instacart Basket Analysis\02 Data'

In [3]:
# Importing orders_products_combined_outer.pkl dataset

df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined_outer.pkl'))

In [4]:
# Import products dataset ('products_checked_Ex4.5.csv')

df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked_Ex4.5.csv'), index_col = False)

In [5]:
df_orders_products_combined.head()

,order_id,user_id,order_numbers_users_made,orders_day_of_week,order_hour_of_day,days_since_prior_order,prior_orders_made,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [6]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
# Dropping unnecessary column

df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [8]:
# Dropping unnecessary column

df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [9]:
df_orders_products_combined.head()

,order_id,user_id,order_numbers_users_made,orders_day_of_week,order_hour_of_day,days_since_prior_order,prior_orders_made,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0

In [10]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### 4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [12]:
df_orders_products_combined.shape

(32640698, 10)

In [13]:
df_prods.shape

(49672, 5)

#### 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [17]:
# outer join

df_merged_p_outer = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True, how = 'outer')

In [18]:
# left join (This is more appropriate as we are appending products information to the order-products dataset)

df_merged_p_left = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True, how = 'left')

#### 6. Confirm the results of the merge using the merge flag.

In [19]:
df_merged_p_outer['_merge'].value_counts()

both          32404859
left_only       236409
right_only          11
Name: _merge, dtype: int64

In [20]:
df_merged_p_left['_merge'].value_counts()

both          32404859
left_only       236409
right_only           0
Name: _merge, dtype: int64

#### 7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [22]:
# Export data to csv (from left join)

df_merged_p_left.to_csv(os.path.join(path, 'Prepared Data', 'orders_products_merged.csv'))

In [23]:
# Export data to pkl (from left join)

df_merged_p_left.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))

#### 8. Ensure your notebooks and Instacart project folder are organized and that comments and section headings have been used throughout your code. All your exported data files should be effectively labelled and stored in your “Data” folder.

#### 9. Save the two notebooks and send them to your tutor along with a screenshot of the exported datasets in your Instacart project folder.